$icomoon-font-path: "fonts" !default;

$icon-assigned: \e906;
$icon-completed-1: \e907;
$icon-completed-2: \e908;
$icon-draft: \e909;
$icon-in-progress: \e90a;
$icon-paused-1: \e90b;
$icon-paused-2: \e90c;
$icon-unassigned: \e90d;
$icon-connectors: \e900;
$icon-custom-ui: \e901;
$icon-login: \e902;
$icon-process: \e903;
$icon-security-on: \e904;
$icon-workstation: \e905;

