/node_modules
/public/hot
/public/storage
/public/js
/public/css
/storage/*.key
/storage/*.index
/vendor
/.idea
/.vscode
/.vagrant
npm-debug.log
yarn-error.log
.env
/public/hot
/public/storage
/public/*.js
/public/modeler
/public/img
/public/fonts
/public/mix-manifest.json
tests/js/coverage
tests/coverage-report
tests/coverage-report/*
.DS_Store
/nbproject
/tests/js/coverage/*
storage/debugbar
storage/debugbar/*
storage/api-docs/api-docs.json
storage/ssl
storage/api/*
storage/data-sources/logs/*
storage/decision-tables/*
npm.sh
laravel-echo-server.lock
public/.htaccess
coverage
.phpunit.result.cache
.php-cs-fixer.cache
.phpunit.result.cache
.editorconfig
resources/lang/de
resources/lang/es
resources/lang/fr
devhub/pm-font/dist
