{
	{$CADDY_GLOBAL_OPTIONS}

	frankenphp {
		# FrankenPHP workers ignore CLI php.ini / PHPRC. Set memory here.
		php_ini memory_limit {$FRANKENPHP_MEMORY_LIMIT:3072M}

		worker {
			file "{$APP_PUBLIC_PATH}/frankenphp-worker.php"
			{$CADDY_SERVER_WORKER_DIRECTIVE}
		}
	}
}

{$CADDY_SERVER_SERVER_NAME} {
	route {
		root * "{$APP_PUBLIC_PATH}"

		php_server {
			index frankenphp-worker.php
			try_files {path} frankenphp-worker.php
			resolve_root_symlink
		}
	}
}
