<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         testdox="true"
         extensionsDirectory="tests/Extensions"
>
  <testsuites>
      <testsuite name="Features">
        <directory>tests/Feature</directory>
        <!-- Temporary disabled -->
        <directory>tests/Managers</directory>
        <directory>tests/Model</directory>
        <directory>tests/Resources</directory>
        <directory>tests/Sdk</directory>
        <directory>tests/Traits</directory>
        <directory>tests/unit</directory>
      </testsuite>
  </testsuites>
    <source>
        <include>
            <directory>ProcessMaker</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_URL" value="http://localhost" />
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>

        <env name="DB_DATABASE" value="test" />
        <env name="BROADCAST_DRIVER" value="log"/>
        <env name="CACHE_DRIVER" value="array" />
        <env name="QUEUE_DRIVER" value="sync" />
        <env name="SCRIPT_MICROSERVICE_ENABLED" value="false" />

        <!-- Add other envs from the the old phpunit.xml as needed -->
        <env name="LOG_CHANNEL" value="test" />
        <env name="POPULATE_DATABASE" value="true" />

    </php>

    <extensions>
        <bootstrap class="Tests\Extensions\ProcessMaker" />
    </extensions>
</phpunit>
