@import 'colors';

@import 'fonts';

// Changing the body background and text
$body-bg: #f7f9fb;

// Fonts

// The sans serif can be customized  by the user and are stored in the _fonts.css,
// the commented line is the original value:
//$font-family-sans-serif: 'Open Sans' !default;

$font-family-serif: Georgia, 'Times New Roman', Times, serif !default;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 1rem !default;
// $font-size-large:         ceil($font-size-base * 1.25) !default; // ~18px
// $font-size-small:         ceil($font-size-base * 0.85) !default; // ~12px

$font-size-h1: floor($font-size-base * 2) !default; // ~36px
$font-size-h2: floor($font-size-base * 1.8) !default; // ~30px
$font-size-h3: ceil($font-size-base * 1.6) !default; // ~24px
$font-size-h4: ceil($font-size-base * 1.4) !default; // ~18px
$font-size-h5: $font-size-base !default;
$font-size-h6: ceil($font-size-base * 0.75) !default; // ~12px

// The main colors can be customized by the user and are stored in _colors.css,
// the commented lines have the original bootstrap values:
//$primary: #3397e1;
//$secondary: #788793;
//$success: #00bf9c;
//$info: #17a2b8;
//$warning: #fbbe02;
//$danger: #ed4757;
//$light: #ffffff;

$hover: rgba(255, 255, 255, .3);

$grey-bg: #e9edf1;
$grey-bg-light: #f4f4f5;

$input-bg: #ffffff;
$input-border-color: #dddfe4;
$input-border-width: 1px;
$input-focus-border-color: #dddddd;
// border radius
$border-radius: 0.125em;
$border-dark: $input-border-color;

//link-decoration
$link-hover-decoration: none;

// components

$component-active-color: $primary !default;
$component-active-bg: $light;

// navbar
$navbar-default-link-active-color: $primary !default;
$navbar-inverse-link-active-color: $primary !default;
$nav-tabs-active-link-hover-color: $primary !default;
$nav-pills-active-link-hover-color: $primary !default;
$list-group-active-color: $primary !default;

//pagination
$pagination-color: $secondary;
$pagination-bg: $body-bg;
$pagination-border-width: 0px;

//tooltip
$tooltip-bg: $secondary;
$tooltip-color: white;

//breadcrumbs
// $breadcrumb-active-color: $primary;
// $breadcrumb-divider-color: $primary;
// $breadcrumb-item: $secondary;
$breadcrumb-bg: #fff;
$breadcrumb-color: #000;
$breadcrumb-active-color: #000;
$breadcrumb-border-color: $grey-bg;
$breadcrumb-separator: '>';

//table
// $table-cell-padding:            10px !default;
// $table-condensed-cell-padding:  5px !default;
$table-bg: transparent !default;
$table-bg-accent: #f9f9f9 !default;
$table-bg-hover: $grey-bg !default;
$table-bg-active: $table-bg-hover !default;

//** Border color for table and cell borders.
$table-border-color: $grey-bg !default;

//

////checkbox
$custom-control-indicator-checked-color: #ffffff;
$custom-checkbox-indicator-indeterminate-bg: #788793;
$custom-checkbox-indicator-indeterminate-color: #ffffff;

////custom switch

//Background color when checked
$custom-control-indicator-checked-bg: #307df6;

//Background color when being clicked
$custom-control-indicator-active-bg: #b9d6fb;

//Background color unchecked; switch color checked
$custom-control-indicator-bg: white;


////custom range

//Thumb background color
$custom-range-thumb-bg: #0070ff;

//Thumb background color when being clicked
$custom-range-thumb-active-bg: #aad1ff;

//Track background color
$custom-range-track-bg: #d9dee2;


//footer
$footer-text: white;

//text
$text-muted: #6c757d;

//This z-index for the alert popup
$alertZIndex: 1051;

//Additional (non-customizable) colors
$darkneutral: #42526E;
$dangerlight: #FFEBE9;
$successlight: #E6FFEB;

// Launchpad Mobile Breakpoint
$lp-breakpoint: 639px;