@import "../variables";

#sidebar {
  width: 58px;
  min-width: 58px;
  background-color: $primary;
  overflow-y: auto;

  #custom_icon{
      max-width: 24px;
      max-height:22px;
      min-width: 24px;
    }

  &.expanded {
    width: 250px;
    min-width: 250px;
    #custom_icon{
      max-width: 24px;
      max-height:24px;
      min-width: 24px;
      margin-right: 7px;
      margin-left: -3px;
    }
  }

  .section {
    font-size: 12px;
    color: $light;
    text-transform: uppercase;
    margin-left: 16px;
    margin-top: 16px;
  }

  .nav-link {
    font-size: 14px;
    color: $light;
  }

  .logo {
    margin: 16px;
    margin-bottom: 24px;
  }

  .logo img {
    height: 26px;
    width: 146px;
  }

  .nav-item:hover {
    background-color: $hover;
  }
  .nav-icon { min-width: 24px; font-size: 18px}
}

#sidebar .closed {

  .nav-item {
    text-align: center;
  }

  .nav-link {
    font-size: 18px;
    color: $light;
  }

  .logo-closed {
    margin: 16px auto;
    margin-bottom: 24px;
  }

  .logo-closed img {
    margin: 0px 16px;
    height: 26px;
    width: 26px;
  }

  .nav-item:hover {
    background-color: $hover;
  }

}
