@import '../sass/_variables.scss';
@import "~bootstrap/scss/bootstrap";

body {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  overflow-x: hidden;
}
.navbar{
  height:60px;
}
.nav_icon {
  color: #7e8ba1;
}
.nav-link {
  font-size: 18px;
  font-weight: 600;
  color: #333333 !important;
}
.nav-link:hover {
  color: $primary !important;
  padding-bottom: 20px;
  margin-bottom: -20px;
}
.sidebarmenu {
  font-size: 14px !important;
  height: 100%;
  width: 208px;
}
.sidebarmenu ul{
  overflow: auto;
  width: 208px;
  height: 100%;
  padding-bottom: 75px;
}
.sidebarmenu i {
  font-size: 19px !important;
  margin-right: 5px;
}
.sidebarmenu a {
  color: $light
}
.sidebarmenu li{
  padding: 6px 16px;
  line-height: 1;
  white-space: nowrap;
}
.sidebarmenu li:hover{
 background-color: rgb(70, 156, 225);
}
.sidebarlogo{
  padding: 15px;
}
.sidebaricon{
  padding: 15px;
}
.sidebarimage{
  height: 60px;
  width: 58px;
}
.sidebarimage:hover{
 background-color: $primary !important;
}
.sidebarmenuicons{
  width:58px !important;
}
.sidebarmenuicons li{
  padding-bottom: 16px;
}
.sidebarheader, .sidebarheader:hover {
  background-color: $primary !important;
  color: $text-muted !important;
  font-weight: 300 !important;
  text-transform: uppercase !important;
  margin-top: .5rem !important;
 }

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #fcfdfe;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

#wrapper ul {
  margin-left: -25px;
}
/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  line-height: 1.9;
  font-size: 12px;
  font-weight: 600;
  margin-left: 39px;
  color: $primary;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: $gray-500;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: $primary !important;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
  color: $primary;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 12px;
  color: $primary;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: $gray-500;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: $primary;
  background: none;
}

.sidebar-header {
  font-size: 14px !important;
  list-style: none;
  font-weight: 600;
  color: $gray-500;
  margin-left: 21px !important;
  margin-top:12px;
}

.sidebar-header ul {
  list-style: none;
  color: $gray-500;
  line-height: 1.9;
  font-size: 12px;
  font-weight: 600;
  margin-left: -22px !important;
}

.sidebar-header li a {
  display: block;
  text-decoration: none;
  color: $gray-500;
}

.sidebar-header li a:hover {
  display: block;
  text-decoration: none;
  color: $primary;
}

.sidebar-header .active a {
  color: $primary;
}


.menu-toggle {
  padding: 20px;
  color: $gray-500;
}
@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }

  #page-content-wrapper {
    padding: 20px 20px 20px 60px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

.table thead th {
    border: 0;
    background-color: $body-bg;
    font-size: 12px;
}
.table td {
  font-size: 12px;
}
.table-header{
  font-size: 18px;
}
.vuetable-pagination{
   color: #788793;
   font-size: 12px;
}
