@font-face {font-family: "processmaker-font";
  src: url('processmaker-font.eot?t=1728931862707'); /* IE9*/
  src: url('processmaker-font.eot?t=1728931862707#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("processmaker-font.woff2?t=1728931862707") format("woff2"),
  url("processmaker-font.woff?t=1728931862707") format("woff"),
  url('processmaker-font.ttf?t=1728931862707') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('processmaker-font.svg?t=1728931862707#processmaker-font') format('svg'); /* iOS 4.1- */
}

[class^="fp-"], [class*=" fp-"] {
  font-family: 'processmaker-font' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fp-bpmn-action-by-email:before { content: "\ea01"; }
.fp-bpmn-data-connector:before { content: "\ea02"; }
.fp-bpmn-data-object:before { content: "\ea03"; }
.fp-bpmn-data-store:before { content: "\ea04"; }
.fp-bpmn-docusign:before { content: "\ea05"; }
.fp-bpmn-end-event:before { content: "\ea06"; }
.fp-bpmn-flowgenie:before { content: "\ea07"; }
.fp-bpmn-gateway:before { content: "\ea08"; }
.fp-bpmn-generic-gateway:before { content: "\ea09"; }
.fp-bpmn-idp:before { content: "\ea0a"; }
.fp-bpmn-intermediate-event:before { content: "\ea0b"; }
.fp-bpmn-pool:before { content: "\ea0c"; }
.fp-bpmn-send-email:before { content: "\ea0d"; }
.fp-bpmn-start-event:before { content: "\ea0e"; }
.fp-bpmn-task:before { content: "\ea0f"; }
.fp-bpmn-text-annotation:before { content: "\ea10"; }
.fp-brush-icon:before { content: "\ea11"; }
.fp-close:before { content: "\ea12"; }
.fp-cloud-download-outline:before { content: "\ea13"; }
.fp-copy:before { content: "\ea14"; }
.fp-css-icon:before { content: "\ea15"; }
.fp-desktop:before { content: "\ea16"; }
.fp-eye:before { content: "\ea17"; }
.fp-fields-icon:before { content: "\ea18"; }
.fp-flowgenie-outline:before { content: "\ea19"; }
.fp-folder-outline:before { content: "\ea1a"; }
.fp-fullscreen:before { content: "\ea1b"; }
.fp-github:before { content: "\ea1c"; }
.fp-layout-icon:before { content: "\ea1d"; }
.fp-map:before { content: "\ea1e"; }
.fp-mobile:before { content: "\ea1f"; }
.fp-pdf:before { content: "\ea20"; }
.fp-play-outline:before { content: "\ea21"; }
.fp-plus:before { content: "\ea22"; }
.fp-screen-outline:before { content: "\ea23"; }
.fp-script-outline:before { content: "\ea24"; }
.fp-slack-notification:before { content: "\ea25"; }
.fp-slack:before { content: "\ea26"; }
.fp-slideshow:before { content: "\ea27"; }
.fp-table:before { content: "\ea28"; }
.fp-unlink:before { content: "\ea29"; }

$fp-bpmn-action-by-email: "\ea01";
$fp-bpmn-data-connector: "\ea02";
$fp-bpmn-data-object: "\ea03";
$fp-bpmn-data-store: "\ea04";
$fp-bpmn-docusign: "\ea05";
$fp-bpmn-end-event: "\ea06";
$fp-bpmn-flowgenie: "\ea07";
$fp-bpmn-gateway: "\ea08";
$fp-bpmn-generic-gateway: "\ea09";
$fp-bpmn-idp: "\ea0a";
$fp-bpmn-intermediate-event: "\ea0b";
$fp-bpmn-pool: "\ea0c";
$fp-bpmn-send-email: "\ea0d";
$fp-bpmn-start-event: "\ea0e";
$fp-bpmn-task: "\ea0f";
$fp-bpmn-text-annotation: "\ea10";
$fp-brush-icon: "\ea11";
$fp-close: "\ea12";
$fp-cloud-download-outline: "\ea13";
$fp-copy: "\ea14";
$fp-css-icon: "\ea15";
$fp-desktop: "\ea16";
$fp-eye: "\ea17";
$fp-fields-icon: "\ea18";
$fp-flowgenie-outline: "\ea19";
$fp-folder-outline: "\ea1a";
$fp-fullscreen: "\ea1b";
$fp-github: "\ea1c";
$fp-layout-icon: "\ea1d";
$fp-map: "\ea1e";
$fp-mobile: "\ea1f";
$fp-pdf: "\ea20";
$fp-play-outline: "\ea21";
$fp-plus: "\ea22";
$fp-screen-outline: "\ea23";
$fp-script-outline: "\ea24";
$fp-slack-notification: "\ea25";
$fp-slack: "\ea26";
$fp-slideshow: "\ea27";
$fp-table: "\ea28";
$fp-unlink: "\ea29";

