$icomoon-font-path: "fonts" !default;

$icon-assigned: "\e900";
$icon-completed-1: "\e901";
$icon-completed-2: "\e902";
$icon-connectors: "\e903";
$icon-custom-ui: "\e904";
$icon-draft: "\e905";
$icon-in-progress: "\e906";
$icon-login: "\e907";
$icon-paused-1: "\e908";
$icon-paused-2: "\e909";
$icon-process: "\e90a";
$icon-security-on: "\e90b";
$icon-unassigned: "\e90c";
$icon-workstation: "\e90d";

