.iconTitle {
  font-size: 18px;
  cursor: pointer;
}
.header-process {
  color: #6a7888;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: uppercase;
  background-color: white;
  padding: 6px 12px;
}
.title-process-button:hover {
  color: #1572c2;
}
.info-collapse {
  padding: 32px;
  padding-bottom: 0px;
  background-color: white;
  border-left: 1px solid rgb(205, 221, 238);
  border-right: 1px solid rgb(205, 221, 238);
  border-bottom: none;
  border-top: 1px solid rgb(205, 221, 238);
  border-radius: 0px;
  margin-right: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.title-process {
  color: #556271;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-align: left;
}
.description {
  color: #4f606d;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
}
.ellipsis-border{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.ellipsis-border .dropdown-toggle::after {
    display:none;
} 
.read-more {
  cursor: pointer;
  color: #1572C2;
}
#header {
  padding: 12px 16px;
  border-bottom: 1px solid #CDDDEE;
  box-shadow: 0px 6px 18px 0px #EFF1F4;
}
